<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h2>Geçmiş Olsun Türkiye</h2>
            <hr>
            <h3>Bu web sitesi tamamen aşağıda logoları yer alan üniversite kulüplerinin, sivil toplum kuruluşlarının ve sizlerin teşvikleri ile AFAD, Ahbap ve Kızılay’a yapılan bağışın miktarını yansıtmak için kurulmuştur. Bağış yapmak için yukarıdaki butonları kullanabilirsiniz.</h2>
            <hr>
            <h1>Ulaşılan Kişi Sayısı        15</h1>
            <h1>Ulaşılan Miktar     600 TL </h1>
            <h1>Ulaşılan Kurum/Kuruluş      2 </h1>
            
            <hr>
            <h3>Bu sayıyı arttırmak bir kişiye daha ulaşmak ile mümkün. Lütfen iletişimimizin gücünü kullanalım, yardım miktarını arttırabilmek adına hep beraber çağrı yapalım.</h3>
            <h3>Makbuz Paylaş butonunu kullanarak; AFAD, Ahbap ve Kızılaya yaptığınız bağışları bizimle paylaşabilirsiniz. Yapılan bağışlar için hiçbir kişisel bilgi sorulmamakdadır. </h3>
           
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfahpchqP0H3WZzvX0o4YTkpMFJl-oYmMKCMgClCXjhWF9lbQ/viewform?usp=sf_link" class="btn btn-primary btn-xl page-scroll">Makbuz Paylaş</a>
        </div>
    </div>
</header>
