<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Geçmiş Olsun Türkiye</h1>
            <hr>
            <h3>Bu web sitesi tamamen aşağıda logoları yer alan üniversite kulüplerinin, sivil toplum kuruluşlarının ve sizlerin teşvikleri ile AFAD, Ahbap ve Kızılay’a yapılan bağışın miktarını yansıtmak için kurulmuştur.</h3>
            <p style="font-size: %80">Bağış yapmak için yukarıdaki butonları kullanabilirsiniz.</p>
            <hr>
           
            <h2 style="font-size: %180">Ulaşılan Kişi Sayısı:        45</h2>
            <h2 style="font-size: %180">Ulaşılan Miktar:     41225 TL </h2>
            <h2 style="font-size: %180">Ulaşılan Kurum/Kuruluş:      5 </h2>
            
            <hr>
            <h3>Bu sayıyı arttırmak bir kişiye daha ulaşmak ile mümkün. Lütfen iletişimimizin gücünü kullanalım, yardım miktarını arttırabilmek adına hep beraber çağrı yapalım.</h3>
            <h3>Bağış Paylaş butonunu kullanarak; AFAD, Ahbap ve Kızılay'a yaptığınız bağışları bizimle paylaşabilirsiniz. Yapılan bağışlar için hiçbir kişisel bilgi sorulmamakdadır. </h3>
            <p style="font-size: %80">Paylaşılan bağışlar onaylandıktan sonra sitemizin sayacına eklenecektir.</p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfahpchqP0H3WZzvX0o4YTkpMFJl-oYmMKCMgClCXjhWF9lbQ/viewform?usp=sf_link" class="btn btn-primary btn-xl page-scroll">Bağış Paylaş</a>
         
        </div>
    </div>
</header>
