<section class="no-padding" id="portfolio">
    <p style="font-size: %80">Yukarıda belirtilen veriler 7 Şubat 2023 saat 22.00 dan itibaren sizlerin aracılığı ile ulaştığımız bağış miktarını belirtmektedir.</p>
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/surk.jpg" class="img-responsive" style="vertical-align:middle; width:auto; height: 250px" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sabancı Robotik Kulübü
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a class="portfolio-box">
                    <img src="img/portfolio/susnow.png" class="img-responsive" style="vertical-align:middle; width:auto; height: 250px" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Sabancı Kış Sporları Kulübü
                            </div>
                        </div>
                    </div>  
                </a>
            </div>
        </div>
    </div>
</section>
